

body,input,textarea{font-family:'Arial Narrow', arial, sans-serif;text-transform: uppercase;}
input,textarea {text-transform:none;}
.count {letter-spacing:1px;}
.item-info {font-family: 'Arial Narrow', arial;font-size:12px;}
.menu-item h6 {font-size:12px;}
.count-userinfo {text-transform:capitalize;}
.count-userinfo .name {font-family: 'Arial Narrow', arial;}
.inner-infocom {font-family: 'Arial Narrow', arial;font-size:15px;}
.com-main,.com-main textarea {font-family: 'Arial Narrow', arial;text-transform: none;}
.com-info {font-family: 'Arial Narrow', arial;}
.logfi input {font-size:15px;}
.logbtn div {font-size:14px;}
.search-hd {font-size:25px;font-family:'Arial Narrow', arial;}
.blank-search {letter-spacing:1px;}
.popular-hashtags {font-size:14px;}
.popular-hashtags ul {font-size:18px;}
.editfi-tit {letter-spacing:1px;}
.editfi-email,.edit-email {text-transform:none;}
.edit-tips {text-transform:none;}
.edit-fi {font-size:14px;}
.editfi-condition {font-size:12px;text-transform: none;line-height:120%;}
.editfi-information {font-size:12px;text-transform: none;line-height:120%;}
.editfi-country-box {font-size:11px;}
.editfi-com em {font-size:12px;text-transform:none;}
.editfi-country-option p {font-size:11px;}
.editfi-country-option p:hover {border:1px solid #e6e6e6;}
.edit-email-error,.editfi-condition-error {font-size:11px;text-transform:none;}
.poploading,.pop-success {font-size:17px;}
.poptxt-preview .error {font-size:11px;text-transform: none;}