@charset "utf-8";
/*
 * 壹六商场
 * zx 2014 02 20
 */

/* Reset
================================================================================================= */
body{color:#000;font-size:12px;line-height:1.666em;background: #feee00 url('../img/bg.jpg') repeat-x top left}
body{font-family:Arial,sans-serif;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img,div{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}

/* Commonly Used
================================================================================================= */
a{text-decoration:none;color:#000;outline: none;}
a:hover{color:#e82426}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}


/* Header Used
================================================================================================= */
.header{height: 130px;background: url('../img/hdbg.gif') no-repeat bottom center;width:100%}
    .hdcontent{width:1000px;margin: 0 auto;position: relative;}
        .nav1{background: url('../img/nav.png') no-repeat 0 0;width: 120px;height: 25px;position: absolute;top:48px;left:50%;margin: 0 0 0 -345px}
        .nav2{background: url('../img/nav.png') no-repeat -120px 0;width: 120px;height: 25px;position: absolute;top:48px;left:50%;margin: 0 0 0 235px}
        .nav1on{}
        .nav2on{}
/* Section 1 Used
================================================================================================= */
.section1{padding:0 0 70px}
.videopart{width:968px;margin: 55px auto 0;position: relative;}
.videopart1{width:598px;}
    .videomod{float: left;width: 598px;height: 356px}
    .videotxt{float: left;width: 250px;height: 356px;background:#040e3e ;color:#fff;padding:0 50px 0 70px;}
        h2{text-transform:uppercase;font-size: 18px;font-weight: normal;padding: 18px 0 5px}
        .videotxt-item{border-bottom:#fded00 solid 1px;font-size:18px;padding:5px 0;overflow: hidden;}
            .videotxt-item h3{color:#fced00;text-transform:uppercase;font-weight: normal;padding:6px 0 4px;}
            .videotxt-item span{display: block;text-align: right;padding:0 0 4px;}
    .videoshare{position: absolute;top:25px;right: -44px}
        .videoshare a{background: url('../img/videoshare.png') no-repeat 0 0;width: 32px;height: 32px;display: block;margin: 0 0 12px;}
        .videoshare .share-t{background-position: 0 -40px}
        .videoshare .share-y{background-position: 0 -80px}
        .videoshare .share-i{background-position: 0 -120px}
.sec1-txt{font-size: 18px;color:#1c2584;text-align: center;line-height:24px;text-transform:uppercase;padding:25px 0 0; }

/* Section 2 Used
================================================================================================= */
.section2{background: #d30d18;padding:40px 0 70px;border-bottom: #feee00 solid 1px;}
.section2-1{background: #d30d18 url('../img/section2bg.png') no-repeat center top;padding: 190px 0 70px}
.section2-2{background: #d30d18 url('../img/section2bg2.png') no-repeat center top;padding: 190px 0 70px}
.sec2-tit{font-size: 24px;color:#fff;font-weight: bold;text-align: center;height:56px;}
.sec2-ul{width:1010px;margin:0 auto}
    .sec2-li{float:left;width:299px;height: 250px;padding:0 18px}
            .sec2-liv{border:#040d3e solid 1px;width: 297px;height: 177px; }
            .sec2-litit{margin:8px auto;background: url('../img/sec1_vbg.png') no-repeat;text-align: center;color:#d30d18;font-size:24px;height: 44px;width:290px;line-height: 44px;}
.sec2-ul1{width:796px}
    .sec2-ul1 .sec2-li{width:240px;padding:0 12px;height: 220px; }
        .sec2-ul1 .sec2-liv{width:238px;height: 123px; }
        .sec2-lip{font-size: 18px;text-align: center;color:#fff;line-height: 30px;}
            .sec2-lip p{font-size: 30px;padding:10px 0}
    .sec2-dot{border:transparent solid 25px;border-top: #040d3e solid 25px;height: 0px;width:0px;overflow: hidden;margin: 20px auto 0}
    .sec2-dot2{border:transparent solid 25px;border-bottom: #040d3e solid 25px;margin: 0 auto 20px;}
    .sec2-histogram{background:#fded00 url('../img/sec2-histogram.png') repeat-x bottom left;width: 370px;margin: 0 auto;height: 215px;}
        .histogram-item{background: url('../img/histogrambg.gif') repeat-y; width: 73px;height: 200px;float:left;display: inline;margin: 0 0 0 37px;}
            .histogram-top{background:#fded00 url('../img/histogramtop.gif') no-repeat bottom;width:73px;padding-bottom: 20px;position: relative;}
                .histogram-toptit{background: url('../img/histogramtop_tit.png') no-repeat 0 0;height: 20px;width: 62px;position: absolute;bottom:24px;left:12px;}
                .histogram-toptit2{background-position: 0 -20px;}
                .histogram-toptit3{background-position: 0 -40px;}
                .histogram-toptxt{font-size:18px;font-weight: bold;color:#1c2584;position: absolute;bottom: -10px;left:24px;}
    .sec2-histogram2{background:#fded00 url('../img/sec2-histogram2.png') repeat-x bottom left;width: 770px;margin: 0 auto;height: 440px;}
        .sec2-histogram2 .histogram-item{background: url('../img/histogrambg2.gif') repeat-y; width: 150px;height: 408px;float:left;display: inline;margin: 0 0 0 78px;}
            .sec2-histogram2 .histogram-top{background:#fded00 url('../img/histogramtop2.gif') no-repeat bottom;width:150px;padding-bottom: 20px;position: relative;}
                .sec2-histogram2 .histogram-toptit{background: url('../img/histogramtop_tit2.png') no-repeat 0 0;height: 30px;width: 128px;position: absolute;bottom:34px;left:20px;}
                .sec2-histogram2 .histogram-toptit2{background-position: 0 -30px;}
                .sec2-histogram2 .histogram-toptit3{background-position: 0 -60px;}
                .sec2-histogram2 .histogram-toptxt{font-size:30px;font-weight: bold;color:#1c2584;position: absolute;bottom: -18px;left:54px;}
    .sec2-time{width:670px;margin: 0 auto;padding: 30px 0}
        .sec2-timeitem{float:left;width: 158px ;height:88px;background:url('../img/sec2_timeitem.png') right center no-repeat;font-size: 80px;line-height: 88px; padding: 0 0px 0 8px}  
        .sec2-time-3{background: none} 
            .sec2-timebox{background: #1d2684 url('../img/sec2_timebox.png') repeat-x top;width: 62px;height: 88px;float:left;color:#fff;margin: 0 0 0 3px;_display:inline;text-align: center}
            .sec2-timetxt{font-size: 26px;color:#fff;text-transform:uppercase;text-align: center;display: block;width:138px;}

/* Section 3 Used
================================================================================================= */
.section3{background: #fff;padding: 20px 0 30px}
    .sec3-txt{font-size:18px;color:#1c2584;text-align: center;padding: 0 0 14px;text-transform:uppercase}
    .sec3-scroll{margin: 14px 0 0;position: relative;}
        .sec3-ul{width:444px;margin: 0 auto}
            .sec3-item{float: left;width: 108px;height: 104px;margin: 0 20px;background: #000}
        .sec3-arrow{background: url('../img/sec_arrow.png') no-repeat;width: 44px;height: 77px;position: absolute;top:16px;left:50%;cursor: pointer;}
        .sec3-prev{margin-left:-286px;}
        .sec3-next{margin-left:242px;background-position:-44px 0;}


/* Section 4 Used
================================================================================================= */
.section4{width:970px;margin: 0 auto;border-bottom: #1d2684 solid 3px;height: 400px;overflow: hidden;}
    .sec4-left{float: left;width: 420px;padding: 20px 0 0;text-transform:uppercase;font-size:14px;color:#1c2584}
        .sec4-left-txt{padding:6px;}
        .sec4-left-pho{padding:32px 0 15px}
            .sec4-left-pho1,
            .sec4-left-pho2{float:left}
            .sec4-left-pho2{margin: 40px 0 0 58px}
        .sec4-left-btn{display: block;background: url('../img/sec4_leftbtn.gif') no-repeat;width: 300px;height: 38px;margin:8px;}
    .sec4-right{float:right;width: 468px;height: 400px;background: #1d2684;color:#fced00;border:#1d2684 solid 1px;}
        .sec4-right-tit{font-size: 20px;padding:35px 0 4px 44px;text-transform:uppercase;height: 46px}
        .sec4-right-txt{cursor:pointer;border-top: #fff solid 3px;font-size: 18px;text-transform:uppercase;padding:16px 0 16px 40px}
        .sec4-right-txt:hover {background:#111867;}
        .sec4-right-mess{overflow:hidden;background: url('../img/sec4_rightmess.png') no-repeat top;width: 462px;height: 203px;margin: 0 auto}
            .sec4-right-con{font-size: 24px;color: #040d3e;margin:0 20px;padding:16px 0;line-height: 24px;height: 118px;border-bottom: #142d77 solid 1px;}
                .sec4-right-con textarea {border: none;width:420px;height:100px;resize:none;font-size:24px;font-family:'arial'}
                .sec4-right-con span{color:#d30d18;text-transform:uppercase;display: block;}
                .sec4-right-info{padding:6px 20px;}
                    .sec4-right-add{float:left;color:#040d3e;font-size: 18px;padding:6px 0}
                    .sec4-right-add.out {color:#d30d18;}
                    .sec4-right-tweeter{border:none;float: right;font-size: 18px;color:#fced00;background: #1d2684;padding:7px 10px}
                    #twitter-content-wrap,#twitter-login-link {display: none;}
                    #facebook-content-wrap,#facebook-login-link {display: none;}



/* fixed Used
================================================================================================= */
.fixed{background:url('../img/fixed.gif') repeat-y center;height:400px;width:22px;position: fixed;right:25px;top:130px;font-size: 10px}
    .fixed p{background: url('../img/fixeditem.png') no-repeat right;width:122px;height: 23px;top:80px;cursor: pointer;padding-right:35px;position: absolute;right:0;text-transform:Uppercase;text-align: right} 
    .fixed .fixed-2{top:180px;}
    .fixed .fixed-3{top:280px;}

/* footer Used
================================================================================================= */
.footer{font-size: 10px;color: #040d3e;text-transform:uppercase;text-align: center;line-height: 28px;}