@charset "utf-8";
/*
 * carambar
 * zx 2014 03 12
 */

/* Reset
================================================================================================= */
body{color:#000;font-size:12px;line-height:1.666em;}
body{font-family:Arial,sans-serif;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img,div{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
* {outline: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
textarea,input {-webkit-user-select: text;-khtml-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;}


/* Commonly Used
================================================================================================= */
a{text-decoration:none;color:#000;outline: none;}
a:hover{color:#e82426}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
.show-mobile {display:none;}

/* Loading Used
================================================================================================= */
.loading-overlay {background:#fff029;width:100%;height:100%;position:fixed;z-index:24;}
    .loading-logo {position:absolute;top:50%;left:50%;margin:-53px 0 0 -174px;}

/* Header Used
================================================================================================= */
.header{min-width: 900px;height: 164px;background: url('../images/hdbg.png') no-repeat bottom center;width:100%;position: absolute;top:10px;z-index:11;}
    .hdcontent{margin: 0 auto;position: relative;}
        .nav1{background: url('../images/nav.png') no-repeat -12px -119px;width: 120px;height: 25px;position: absolute;top:27px;left:50%;margin: 0 0 0 -300px}
        .nav2{background: url('../images/nav.png') no-repeat 0 0;width: 150px;height: 25px;position: absolute;top:27px;left:50%;margin: 0 0 0 190px}
        .nav1:hover {background-position:-416px -119px;}
        .nav2:hover {background-position:-404px 0;}
        .nav1on, .nav1:active{background-position:-835px -119px;}
        .nav2on, .nav2:active{background-position:-819px 0;}

.page {min-width: 900px;}
/* Section  Used
================================================================================================= */
.videopart{width:808px;height:339px;padding:16px 25px 0;margin: 165px auto 0;position: relative;background: url('../images/videopart.png') no-repeat;}
.videopart-tit {background: url(../images/videopart_tit.png) no-repeat;width:957px;height:99px;position:absolute;top:-36px;left:-46px;}
.videopart1{width:598px;}
    .videomod{float: left;width: 556px;height: 309px}
    .videotxt{float: left;display:inline;margin:8px 0 0 8px;width: 214px;height:243px;overflow:hidden;background:#dadada ;color:#12103b;padding:5px 10px;}
        h2{text-transform:uppercase;font-size: 18px;font-weight: normal;padding: 18px 0 5px}
        .videotxt-item{font-size:12px;padding:4px 0 0;overflow: hidden;}
            .videotxt-item h3{color:#e00025;text-transform:uppercase;font-weight: normal;}
            .videotxt-item span{display: block;text-align: right;padding:0px;border-top: #12103b solid 1px;}
        .videoshare{position: absolute;top:-28px;right: 125px}
            .videoshare a{background: url('../img/videoshare.png') no-repeat 0 0;width: 32px;height: 32px;display: block;margin: 0 0 12px;}
            /*.videoshare .share-t{background-position: 0 -40px}*/
            .videoshare .videoshare-t{background: url('../images/share_t.png') no-repeat;width: 43px;height: 43px;}
            .videoshare .videoshare-y{background-position: 0 -80px}
            .videoshare .videoshare-i{background-position: 0 -120px}
            .btn-other-challenges {background: url('../images/btn_other_challenges.png') no-repeat;width:230px;height:61px;display:block;position: absolute;right:37px;bottom:11px;}

.sec-blue{background: url('../images/sec1_blue.png') repeat-x;height: 174px;width:100%;margin: 20px 0 0;position: relative;}
    .sec-bluecon{width:800px;margin: 0 auto;position: relative;}
    .sec-bluepho{width:270px;height: 187px;background: url('../images/sec1-bluepho.png') no-repeat;position: absolute;top:0px;left:0}
    .sec-bluepho .countdown {position:absolute;right:35px;bottom:48px;font-family:'Arial Narrow';color:#2f3688;font-size:21px;}
    .sec-bluepho .countdown span {margin:0 0 0 12px;display:block;float:left;width:39px;}
    .sec-bluepho .countdown span#countdown-hours {margin-left:12px;}
    .sec-bluepho .countdown span#countdown-minutes {margin-left:13px;}
    .sec-bluenum{height: 150px;width:300px;position: absolute;background: url('../images/sec1-bluepho.png') no-repeat -270px 0;left:270px;top:0; }
    .sec-bluetime{height: 150px;width:358px;position: absolute;background: url('../images/sec1-bluepho.png') no-repeat -570px 0;left:570px;top:0;}

    .sec-blue2{background: url('../images/sec2_blue.png') repeat-x top;height: 226px;width:100%;margin: 22px 0 0;position: relative;}
    .sec-blue2txt{background: url('../images/sec2_bluetxt.png') no-repeat center;height: 202px;width:100%;}
    .sec-blue2txt2{background: url('../images/sec2_bluetxt2.png') no-repeat center;height:125px;width:100%;}


.line{background:#ffeb00 url('../images/linebg.png') repeat-x center ;}
    .line1{margin: 15px 0 0}
    .line-p1{padding: 0px 0 ;position: relative;z-index: 10;height:75px;}
    .line2{padding: 30px 0 ;position: relative;z-index: 10}
    .line3{margin: 8px 0 12px;}
    .line4{height: 24px;position: relative;}
    .line-com-p1{background: url('../images/line_com_p1.png') no-repeat;width: 366px;height: 88px;position: absolute;left:50%;top:-10px;margin-left:-183px;}
    .line-com1{cursor:pointer;background: url('../images/line_com1.png') no-repeat;width: 465px;height: 45px;margin: 0 auto}
    .line-com2{background: url('../images/line_com2.png') no-repeat center;width: 465px;height: 45px;margin: 0 auto}
    .line-com3{cursor:pointer;display:block;background:#ffeb00 url('../images/line_com3.png') no-repeat center;width: 240px;height: 55px;margin: 0 auto}

.barack{background:#e5202d;height: 118px;position: relative;z-index: 10;top:-1px;margin-bottom: 20px;-webkit-box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);}
    .baracktit{background: url('../images/baracktit.png') no-repeat;width: 282px;height: 44px;position: absolute;top:20px;left:50%;margin-left:-141px;}
    .baracktxt{font-size: 28px;color:#fff;text-align: center;top:58px;position: absolute;width:100%;}
    .barackbtn{cursor:pointer;background: url('../images/barackbtn.png') no-repeat;width: 163px;height: 27px;position: absolute;top:78px;left:50%;margin-left:-81px;}

.support-carambar-wrap{background:url('../images/linebg.png') repeat-x center 204px;}
.img{height: 308px;margin:0 auto 0;position: relative;width:634px;}
    .img1{background: url('../images/img1.png') no-repeat;position: absolute;width: 466px;height: 249px;left:84px;top:-3px; }
    .img2{background: url('../images/img2.png') no-repeat;position: absolute;width: 695px;height: 88px;left:-27px;top:190px;}
    .img3{background: url('../images/img3.png') no-repeat;position: absolute;width: 518px;height: 45px;left:75px;top:265px;}

.share{height: 283px;position: relative;}
    .share-fb{position: absolute;left:50%;margin-left:-385px;top:16px;background: url('../images/sharefb.png') no-repeat;width:243px;height: 252px}
    .share-fbbtn{display: block;background: url('../images/btn_fb.png') no-repeat;width:221px;height: 35px;margin: 200px auto 0}
    .share-fbbtn:hover {background-position:-391px 0;}
    .share-t{position: absolute;width:190px;left:50%;margin-left:-142px;top:16px;background: url('../images/sharet.png') no-repeat;width:192px;height: 132px;padding:120px 42px 0;}
    .share-txt{width:190px;height:25px;border:0;background: none;resize:none;font-family:'arial';}
    #twitter-words-limit.out {color:#e63130;}
    .share-t-num{text-align: right;font-size: 14px;padding:8px 0}
    .share-tbtn {display: block;margin:19px auto 0;background: url('../images/btn_t.png') no-repeat;width:122px;height: 39px;}
    .share-tbtn:hover {background-position:-389px 0;}
    .share-tbtn.disabled,.share-tbtn.disabled:hover {cursor:default;background-position:-713px 0;}
    .share-i{position: absolute;width:220px;left:50%;margin-left:134px;top:16px;background: url('../images/sharei.png') no-repeat;width:219px;height: 52px;padding:200px 16px;}
    .share-iandroid{display: block;background: url('../images/btn_iandroid.png') no-repeat;width:104px;height: 36px;float:left}
    .share-iios{display: block;background: url('../images/btn_iios.png') no-repeat;width:104px;height: 36px;float:right}

.tshirttit{background: url('../images/tshirttit.png') no-repeat top center;height: 97px;margin: 18px auto 0}
    .tshirt{height: 245px;width:783px;margin: 8px auto 0;position: relative;}
    .tshirt1{background: url('../images/tshirt1.png') no-repeat top center;height: 147px;width:842px;position: absolute;top:81px;left:-36px;}
    .tshirt2{background: url('../images/tshirt2.png') no-repeat top center;height: 244px;width:388px;position: absolute;top:2px;left:199px;}

.photit{background: url('../images/photit.png') no-repeat top center;height: 93px;margin: 15px auto 0}
    .pholist{background: url('../images/pholist.png') repeat-x center;height: 153px;margin: 15px auto 0;width:812px;padding:0 0 0 24px;}
    .phoitem{float:left;background:#000;padding: 3px;width: 126px;height: 126px;display: inline;margin:15px 13px;}





/* footer Used
================================================================================================= */
.footer{font-size: 10px;padding:15px 10px 20px 10px;color: #040d3e;text-transform:uppercase;text-align: center;line-height:140%;position: relative;z-index:10;background: #FFEB00 url('../images/footer_line.gif') no-repeat top center;}
.footer a {text-decoration:underline;}

/* popup
================================================================================================= */
.overlay {display:none;position: fixed;width:100%;height:100%;background:rgba(0,0,0,0.4);z-index:20;top:0;left:0;}
    .popup {position: fixed;z-index:21;left:50%;top:50%;}
    .video-popup {background:#d1d1d2 url(../images/popup_video_bg.gif) repeat-x;width:845px;height:660px;padding:10px;margin:-320px 0 0 -413px;-webkit-border-radius: 10px;border-radius: 10px;-webkit-box-shadow: 5px 5px 20px 0 #000000;box-shadow: 5px 5px 20px 0 #000000;}
    .video-popup iframe {border:10px solid #d5d5d6;}
    .popup-close {cursor:pointer;background: url(../images/popup_close.gif) no-repeat;width:46px;height:46px;position: absolute;right:-46px;}
    .popshare{position: fixed;z-index: 20;background: #000;opacity: 0.5;top:0;bottom:0;left:0;right:0}
    .pop{position: fixed;z-index: 21;top:50%;left:50%}
    .pop-yt{background:url('../images/pop_ytbg.png') no-repeat;width: 824px;height: 481px;margin: -255px 0 0 -427px;padding:30px 0 0 30px}
    .pop-yt-com{width:777px;height: 432px;padding: 10px;background: #b3b3b3}
    .pop-bar{background: url('../images/pop_barbg.png') repeat-x;width:830px;height:342px;margin: -200px 0 0 -415px;}
    .pop-bar .pop-close {background: url('../images/pop_close.png') no-repeat center;width:36px;height: 36px;right:5px;top:5px;position: absolute;cursor: pointer}
    .pop-fb .pop-close{background: url('../images/pop_close.png') no-repeat center;width:36px;height: 36px;right:5px;top:5px;position: absolute;cursor: pointer}
    .pop-bar-txt{background: url('../images/pop_bartit.gif') no-repeat center;width:644px;height: 172px;left:98px;top:46px;position: absolute;}
    .pop-bar-input{position: absolute;width: 500px;height: 24px;padding: 2px 0px 2px 4px;font-size:14px;border:none;border-top:#cccccc solid 1px;left:164px;top: 230px;background: url(../images/pop_bar_input.gif) repeat-x;}
    .pop-bar-btn{background: url('../images/pop_barbtn.gif') no-repeat center top;width:96px;height:39px;left:573px;top:268px;position: absolute;cursor: pointer}
    .pop-bar-tips{display:none;background: url('../images/pop_bartips.gif') no-repeat center;width:676px;height:92px;left:78px;bottom:-64px;position: absolute;}
    .pop-bar-tips p {color:#e00025;font-size:20px;line-height: 120%;padding:0 124px;text-align: center;display: table-cell;vertical-align: middle;height:90px;width:676px;}
    .pop-fb{background: url('../images/pop_fbbg.png') repeat-x;width:830px;height:448px;margin: -224px 0 0 -415px}
    .pop-fttit{background: url('../images/pop_fbtit.gif') no-repeat center top;width:777px;height:32px;margin: 82px auto 0;overflow:hidden;line-height: 2222em}
    .pop-ft-form{background: #e7e7e7;width:776px;height: 216px;margin:0 auto }
    .pop-ft-addimg{width:180px;height: 180px;border:#2b2761 dotted 5px;background: url('../images/pop-fb-addimg.png') no-repeat center 30px;margin:14px 54px 0 20px;float:left;display: inline;}
    .pop-ft-text{float:right;margin:13px 13px 0;background: #fff;width:494px;height: 180px; }
    .pop-ft-ftit{font-size: 14px;background: #2f3688;color:#fff;text-transform:uppercase;height: 33px;line-height: 33px;padding: 0 10px}
    .pop-ft-text textarea{width:472px;height: 132px;border:#fff solid 1px;padding:10px;font-family: arial;resize:none;}
    .pop-ft-check{cursor:pointer;color:#2f3688;font-size: 14px;text-transform:uppercase;position: absolute;right:30px;top:340px;background: url(../images/facebook_checkbox.gif) no-repeat 0 4px;padding:0 0 0 18px;}
    .pop-ft-check.checked {background-position:0 -68px;}
    .pop-ft-icon{background: url('../images/pop_fticon.png') no-repeat;width:70px;height: 70px;position: absolute;left:28px;bottom:27px;}
    .pop-ft-btn{background: url('../images/pop_barbtn.gif') no-repeat center top;width:96px;height:39px;right:27px;bottom:35px;position: absolute;cursor: pointer}
    .pop-ft-btn.disabled {cursor:default;background-position:bottom;}
    .pop-ft-submitting {display:none;position:absolute;right:40px;bottom:14px;color:#fbea38;}
    .flash_facebook_uploader {margin-top:-26px;}
    .flash_facebook_uploader .pop-ft-submitting {bottom:2px;right:59px;}

#fileupload {cursor: pointer;}
    .facebook-post-img-wrap {position: relative;float:left;margin:10px 0 0 18px;}
    .facebook-post-img {width:185px;height:185px;overflow:hidden;border:5px dotted #2b2761;position: absolute;top:0;left:0;background:#e7e7e7 url(../images/pop-fb-addimg.png) no-repeat center;}
    .facebook-post-img.in {border:5px dotted #203a9e;}
    .facebook-post-img.hover {border:5px dotted #ce232d;}
    .facebook-post-img.solid {border:5px solid #2b2761;}
    .poptxt-pic {position: absolute;top:5px;left:5px;width:185px;height:185px;display:none;border:5px solid #2b2761;background: url(../images/loading_grey.gif) no-repeat center;}
    .poptxt-pic-inner {width:185px;height:185px;overflow:hidden;position:absolute;cursor:move;}
    .facebook-post-load {display:none;width:185px;height:185px;position:absolute;top:5px;left:5px;background:#e7e7e7;text-align: center;border:5px solid #2b2761;}
    .popload-percent {width:160px;height: 10px;background: #ccc;margin:80px auto 20px;}
    .popload-percent p{width:0%;height: 10px;background:url('../images/process_bar.gif') no-repeat -5px 0;}
    .poptxt-pic .pop-zoomout-btn,
    .poptxt-pic .pop-zoomin-btn,
    .poptxt-pic .pop-rright-btn,
    .poptxt-pic .pop-rleft-btn{position: absolute;bottom: 1px;right: 0;z-index: 1;color: #FFF;background:url(../images/resize_icon.png) no-repeat;width:23px;height:23px;font-size:0;}
    .poptxt-pic .pop-zoomout-btn {background-position: -16px -14px;right: 29px;cursor: pointer;}
    .poptxt-pic .pop-zoomin-btn {background-position: -39px -13px;right: 1px;cursor: pointer;}
    .facebook-post-img-wrap input[type="file"] {position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';font-size: 200px;height:200px;direction: ltr;cursor: pointer;}
    .facebook-post-success {display:none;margin-top:200px;color:#fbea38;text-align: center;font-size:30px;text-transform: uppercase;}
    .step1-tips {position: absolute;bottom:79px;z-index:5;}
    .step1-tips li {background:#fbea38;color:#ce232d;padding:10px;display:none;}
    .step1-tips li.error {display:block;}


/* presentation
================================================================================================= */
.presentation {position: relative;z-index:9;background:#fbea38 url(../images/presentation_bg.gif) repeat-x top;height:645px;overflow:hidden;padding-top:1px;-webkit-box-shadow: 0 10px 8px 0 rgba(0,0,0,0.4);box-shadow: 0 10px 8px 0 rgba(0,0,0,0.4);}
    .phase3 .presentation {height: 615px;}
    .phase4 .presentation {height:811px;}
    .phase5 .presentation {height:834px;}
.skyline {background: url(../images/presentation_skyline.png) no-repeat center 90px fixed;height:560px;bottom:0;position: absolute;width:100%;}
    .phase5 .skyline {height:780px;}
.blue-road {background: url(../images/blue_road.png) no-repeat center;height:162px;position:absolute;top:331px;width:100%;}
.presentation-box {width:1000px;height:430px;margin:80px auto 0 auto;position: relative;}
.carambar-man {background: url(../images/carambar-man.png) no-repeat;width:240px;height:382px;left:85px;position: absolute;}
.tooltip {background:url(../images/tooltip_bg.png) no-repeat;width:593px;height:168px;position: absolute;top:66px;left:249px;}
    .tips-content {background: url(../images/tooltip_content.png) no-repeat;width:246px;height:123px;float: left;margin:20px 0 0 70px;}
    .tips-content-p3 {background: url(../images/tooltip_content_p3.png) no-repeat;width:516px;height:133px;margin:14px 0 0 60px;position:relative;}
    .tips-content-p3 .countdown {position:absolute;right:16px;bottom:16px;font-family:'Arial Narrow';color:#2f3688;font-size:21px;}
    .tips-content-p3 .countdown span {margin:0 0 0 12px;display:block;float:left;width:24px;}
    .tips-content-p3 .countdown span#countdown-hours {margin-left:12px;}
    .tips-content-p3 .countdown span#countdown-minutes {margin-left:13px;}
    .tips-video {border:2px solid #fff;float:left;margin:21px 0 0 20px;position:relative;}
    .tips-video .video-play {background: url(../images/btn_play.png) no-repeat 67px 13px;position: absolute;top:0;left:0;width:100%;height:100%;}
.tips-video .video-play:hover {background-position:-342px 13px;}
.indicator-count-wrap {width:600px;position: absolute;top:275px;left:325px;}
    .phase4 .indicator-count-wrap {top:46px;left:288px;width:480px;}
    .phase5 .indicator-count-wrap {width:290px;top:139px;left:50%;margin-left:-95px;}
    .indicator-count {height:62px;width:300px;margin-left:14px;}
    .indicator-count-num {display:none;}
    .indicator-title {color:#fff;text-transform:uppercase;width:283px;text-align: center;}
    .indicator-hashtag {background: url(../images/indicator_hashtag.png) no-repeat;width:283px;height:20px;text-indent:-999em;}
    .indicator-btn {cursor:pointer;background: url(../images/indicator_btn.png) no-repeat;width:319px;height:227px;position: absolute;top:-58px;left:309px;}
        .indicator-btn:hover {background-position:-365px 0;}
        .indicator-btn:active {background-position:-794px 0;}
        .phase4 .indicator-btn {left:-15px;}
        .phase4 .indicator-count {margin-left:284px}
        .phase4 .indicator-hashtag {margin-left:269px}
        .phase4 .indicator-title {margin-left:272px}
    .digit {background: url(../images/countdown_digit.png) no-repeat no-repeat;float:left;width:42px;height:53px;}
    .digit0 {background-position:0 0;}
    .digit1 {background-position:0 -217px;}
    .digit2 {background-position:0 -433px;}
    .digit3 {background-position:0 -649px;}
    .digit4 {background-position:0 -865px;}
    .digit5 {background-position:0 -1081px;}
    .digit6 {background-position:0 -1297px;}
    .digit7 {background-position:0 -1513px;}
    .digit8 {background-position:0 -1729px;}
    .digit9 {background-position:0 -1945px;}
    .goto-support-bg {background: url(../images/goto_star.png) no-repeat center;width:100%;height:46px;position: relative;z-index:10;}
    .goto-support {background:url(../images/goto_btn.gif) no-repeat center;width:406px;height:46px;text-indent:-999em;margin:0 auto;display: block;}
    .phase4 .goto-support-bg {margin-top:20px;}

/* challenge
================================================================================================= */
.challenge_bg {position:fixed;z-index:1;top:0;bottom:0;width:100%;}
    .map_bg {position: absolute;background:url(../images/map_bg.jpg) no-repeat top;background-size:cover;width:100%;height:1000px;}
    .phase5 .map_bg {height:1300px;}
    .challenge {position: relative;}
    .challenge-title {background:#e3142a url(../images/challenge_title.gif) no-repeat center;width:745px;height:88px;position: absolute;z-index:13;top:-70px;left:50%;margin-left:-372px;}
    .challenge-man {background:url(../images/carambar-man-right.png) no-repeat;width:218px;height:255px;position: absolute;right:0px;z-index:7;bottom:-300px;}
    .challenge-inner {position: relative;z-index:8;width:771px;height:308px;margin:0 auto;}
    .challenge-item {float:left;width:231px;margin:0 13px;padding:23px 0;text-align:center;background:#e3142a;-webkit-box-shadow: 0 0px 20px 0 #363636;box-shadow: 0 0px 20px 0 #363636;}
    .vote-btn {cursor:pointer;background: url(../images/btn_defi.png) no-repeat;width:168px;height:57px;margin:20px auto 0 auto;text-indent:-999em;}
        .vote-btn.disabled,.vote-btn.voted {cursor:default;}
        .vote-btn.voted {background-position:-1568px 0;}
        .vote-btn1:hover {background-position:-388px 0;}
        .vote-btn1 {background-position:0 0;}
        .vote-btn1:active {background-position:-801px 0;}
        .vote-btn1.disabled {background-position:-1204px 0;}
        .vote-btn2 {background-position:0 -108px;}
        .vote-btn2:hover {background-position:-387px -108px;}
        .vote-btn2:active {background-position:-800px -108px;}
        .vote-btn2.disabled {background-position:-1209px -108px;}
        .vote-btn3 {background-position:0 -214px;}
        .vote-btn3:hover {background-position:-386px -214px;}
        .vote-btn3:active {background-position:-799px -214px;}
        .vote-btn3.disabled {background-position:-1214px -214px;}
        .vote-btn1.voted:hover,.vote-btn2.voted:hover,.vote-btn3.voted:hover {background-position:-1568px 0;}

.videolistbg{position: relative;}
    .videolist {margin:0;position: relative;z-index:8;}
    .phase5 .videolist {}
    .videolistshare{width: 100%}
    .video-con{width:798px;margin: 0 auto 20px auto;padding:80px 10px 0;background:#eb212e;-webkit-box-shadow: 10px 10px 20px 0 #363636;box-shadow: 10px 10px 20px 0 #363636;}
    .phase4 .video-con {}
    .phase5 .video-con {margin-top:32px;padding-top:20px;}
    .videolist-item{float:left;position: relative;width: 250px;height: 215px;text-align: center;font-size:13px;color:#fff;display: inline;margin-left:12px;}
    .videolist-box{background: #fff;width:248px;height: 132px;padding:2px;position: relative;}
    .videolist-item .video-play {background: url(../images/btn_play2.png) no-repeat 105px 33px;position: absolute;top:0;left:0;width:100%;height:100%;}
    .videolist-item .video-play:hover {background-position: -166px 33px;}
    .videolist-txt {line-height: 16px;margin-top:8px;text-transform:uppercase;}
    .videolist-item-tit {width:242px;height:27px;margin-bottom:10px;}
    .videolist-item-tit1 {background: url(../images/video_defi1.gif) no-repeat center;}
    .videolist-item-tit2 {background: url(../images/video_defi2_2.gif) no-repeat center;}
    .videolist-item-tit3 {background: url(../images/video_defi3_2.gif) no-repeat center;}
    .phase5 .videolist-item-tit1 {background: url(../images/video_defi1.png) no-repeat center;}
    .phase5 .videolist-item-tit2 {background: url(../images/video_defi2.png) no-repeat center;}
    .phase5 .videolist-item-tit3 {background: url(../images/video_defi3.png) no-repeat center;}
    .videolist-item-tit4 {background: url(../images/video_defi4.png) no-repeat center;}
    .videolist-item-tit5 {background: url(../images/video_defi5.png) no-repeat center;}
    .videolist-item-tit6 {background: url(../images/video_defi6.png) no-repeat center;}
    .video-icon {position: absolute;left:-23px;top:11px}
    .video-icon-1 {background: url('../images/video_icon_1.png') no-repeat;width: 64px;height: 98px;}
    .video-icon-2 {background: url('../images/video_icon_2.png') no-repeat;width: 84px;height: 98px;left:-25px;}
    .videolist-boxnull{border: #fff dotted 5px;height:126px;width: 242px; display: table-cell;vertical-align: middle;text-transform: uppercase;font-size:14px;}
    .videolist-pro{position: absolute;background: url('../images/videolist_pro.png') no-repeat;width: 208px;height: 239px;bottom:0;right:30px;}
    .videolist-tit{background: url('../images/videolist_tit.png') no-repeat;width: 569px;height: 66px;position: absolute;top:-15px;left:50%;margin-left:-275px;z-index:13;}

    .videolistbg2{margin: 55px 0 50px;background:#d4d4d4}
    .videolist2{background: url('../images/videolist2.jpg') no-repeat center;height: 496px;margin: 40px 0 0;position: relative;}
    .videolistshare2{background: url('../images/videolistbg2.png') repeat-x;height: 496px;width: 100%}
    .videolist-tit2{background: url('../images/videolist_tit2.png') no-repeat;width: 780px;height: 59px;position: absolute;top:-74px;left:50%;margin-left:-390px;z-index:13;}
    .phase5 .videolist-tit2 {top:-65px;}
    .videolist2 .videolist-item{margin-bottom:50px;}

/* Post
================================================================================================= */


/* Yellow Wrap
================================================================================================= */
.yellow-wrap {position: relative;z-index:9;padding:1px 0;background:#ffeb00;-webkit-box-shadow: 0 -10px 20px 0 rgba(0,0,0,0.5);box-shadow: 0 -10px 20px 0 rgba(0,0,0,0.5);}








/* Mobile Used
================================================================================================= */
@media screen and (max-width:825px){
    .show-mobile {display:block;}
    .show-desktop {display:none;}
    .page {min-width:640px;}
    body{overflow-x:hidden;}
    .overlay {cursor: pointer;}
    /**/
    .header{background: url('../mobileimg/hdbg.png') no-repeat center;height: 88px;min-width:640px;}
    .page{overflow: hidden;}
    .footer{width:640px;overflow: hidden;border:0;margin: 30px 0}
    .nav1{margin:0 0 0 -261px;width:114px;top:19px;background-image: url('../mobileimg/nav.png');background-position: -701px -100px;}
    .nav1:hover {background-position:-701px -100px;}
    .nav2{margin:0 0 0 144px;width:120px;top:19px;background-image: url('../mobileimg/nav.png');}
    .nav2:hover {background-position:-338px 0;}
    .videopart{background-image: url('../mobileimg/videopart.png') ;width:620px;height: 546px;padding: 16px 0 0}
    .phase4 .videopart {height: 594px;}
    .videopart-tit{background: url('../mobileimg/videopart_tit.png') no-repeat;width:660px;left:-21px;}
    .videomod{float:none;margin: 0 auto;}
    .videotxt{width:536px;background: #fff;margin:0 auto;float: none;overflow: hidden;display: block;height: 185px;font-size:20px;}
    .videotxt-item{font-size: 22px;line-height: 26px;}
    .videobot{display: none}
    .videoshare{left:8px;top:325px;}
    .videoshare .videoshare-t{background-image:url('../mobileimg/share_t.png');height: 58px;width: 58px;}
    .videotxt-item{margin: 0 25px 0 40px;}
    .videotxt-item span{line-height: 999em;overflow: hidden;height: 10px;}
    .line4{height: 0;overflow: hidden}
    .videolist-tit2{background-image: url('../mobileimg/videolist_tit2.png');width: 600px;height: 60px;margin-left:-310px}
    .videolist,
    .videolist2{background-image: url('../mobileimg/videolist2.jpg') ;height:auto;padding: 30px 0 0;position: relative;}
    .videolist{margin-top:50px;}
    .videolistshare,
    .videolistshare2{background-image: none;height:auto;}
    .video-con{background:#eb212e;height:auto;width:590px;overflow: hidden;padding-top:30px;}
    .videolist-pro{display: none}
    .videolist-item{width:402px;height:auto;font-size: 30px;margin:0 0 10px 90px}
    .videotxt-item:last-child {display: none;}
    .videolist-item img{width:398px;height: 212px;}
    .videolist-item .video-play {background-position:163px 73px}
    .videolist-item .video-play:hover {background-position:163px 73px}
    .videolist-box{width:398px;height: 212px;}
    .videolist-txt{padding:5px 0;line-height: 140%;}
    .video-icon{position: absolute;left:-50px;top:45px}
    .video-icon-1 {background: url(../mobileimg/video_icon_1.png) no-repeat;width:102px;height:158px;}
    .video-icon-2 {background: url(../mobileimg/video_icon_2.png) no-repeat;width:140px;height:153px;left:-80px;}
    .videolist-boxnull{width:392px;height: 206px;line-height: 200px;}
    .videolist-item-tit {width:402px;height:67px;margin-bottom:20px;}
    .videolist-item-tit1 {background: url(../mobileimg/video_defi1.png) no-repeat center;}
    .videolist-item-tit2 {background: url(../mobileimg/video_defi2_2.png) no-repeat center;}
    .videolist-item-tit3 {background: url(../mobileimg/video_defi3_2.png) no-repeat center;}
    .phase5 .videolist-item-tit1 {background: url(../mobileimg/video_defi1.png) no-repeat center;}
    .phase5 .videolist-item-tit2 {background: url(../mobileimg/video_defi2.png) no-repeat center;}
    .phase5 .videolist-item-tit3 {background: url(../mobileimg/video_defi3.png) no-repeat center;}
    .videolist-item-tit4 {background: url(../mobileimg/video_defi4.png) no-repeat center;}
    .videolist-item-tit5 {background: url(../mobileimg/video_defi5.png) no-repeat center;}
    .videolist-item-tit6 {background: url(../mobileimg/video_defi6.png) no-repeat center;}

    .photit{background: url('../mobileimg/photit.png') no-repeat top center;height: 81px;margin: 15px auto 0;width: 640px;}
    .pholist{background: url('../mobileimg/pholist.png') repeat-x center;height: 203px;margin: 15px auto 0;width:572px;padding:10px 0 0 8px;overflow: hidden}
    .phoitem{width:156px;height: 156px;}
    .phoitem img{width:156px;height: 156px;}
    .line-com3{background:#ffeb00 url('../mobileimg/line_com3.png') no-repeat center;width: 380px;height: 65px;margin: 0 auto}

    .sec-blue{background: url('../mobileimg/sec1_blue.png') repeat-x top ;height: 840px;}
    .phase4 .sec-blue {height:804px;}
    .sec-bluecon {width:100%;}
    .sec-bluepho{background: url('../mobileimg/sec1_bluepho1.png') no-repeat;width: 469px;height:274px;top:16px;left:86px;}
    .phase4 .sec-bluepho {left:50%;margin-left:-235px;margin-top:30px;}
    .phase4 .sec-bluepho .countdown {right:42px;bottom:70px;font-size:53px;}
    .phase4 .sec-bluepho .countdown span {width:83px;}
    .sec-bluenum{background: url('../mobileimg/sec1_bluepho2.png') no-repeat;width: 507px;height:201px;top:320px;left:72px;}
    .sec-bluetime{background: url('../mobileimg/sec1_bluepho3.png') no-repeat;width: 416px;height:287px;top:553px;left:145px;}

    .challenge-title {width:100%;background:#e3142a url('../mobileimg/challenge_title.png') no-repeat center;height:72px;margin:0;left:0;}

    .line-com-p1 {background: url('../mobileimg/line_com_p1.png') no-repeat;width:449px;height:106px;margin-left:-225px}

    .img{height:348px;margin-top:30px;}

    .share{background:none;width:560px;height: 280px;margin: 0 auto}
    .share-fb{top:0;left:0;background: url('../mobileimg/sharefb.png') no-repeat;width:562px;height:73px;margin: 0}
    .share-fbbtn{display: block;background: url('../mobileimg/btn_fb.png') no-repeat;position: absolute;margin: 0;right:18px;top:20px;}
    .share-t{width:560px;left:0;margin-left:0px;top:73px;background: url('../mobileimg/sharet.png') no-repeat;height: 117px;padding:0;}
    .share-txt{width:300px;height:61px;border:0;background: none;position: absolute;top:38px;left:83px;}
    .share-t-num{display: none}
    .share-tbtn{display: block;margin:0;background: url('../mobileimg/btn_t.png') no-repeat;width:147px;height: 47px;position: absolute;right: 15px;top: 35px}
    .share-tbtn.disabled, .share-tbtn.disabled:hover {background-position:0 0;}
    .share-i{width:560px;left:0;margin-left:0;top:190px;background: url('../mobileimg/sharei.png') no-repeat;height:72px;padding:0;}
    .share-iandroid{display: block;background: url('../mobileimg/btn_iandroid.png') no-repeat;width:104px;height: 36px;position: absolute;right:140px;top:20px;}
    .share-iios{display: block;background: url('../mobileimg/btn_iios.png') no-repeat;width:104px;height: 36px;position: absolute;top:20px;right:20px;}

    .tshirttit{background: url('../mobileimg/tshirttit.png') no-repeat top center;height: 97px;margin: 18px auto 0}


    .tshirt{height: 245px;width:100%;margin: 8px 0 0;position: relative;}
    .tshirt1{background: url('../mobileimg/tshirt1.png') no-repeat top center;height: 119px;width:100%;position: absolute;top:71px;left:0px}
    .tshirt2{background: url('../mobileimg/tshirt2.png') no-repeat top center;height: 245px;width:385px;position: absolute;top:2px;left:171px;}

    .home-section1{margin:0;left:0}
    .home-map{display: none}
    .home-nav{background: url('../mobileimg/home_nav.png') no-repeat;width:640px;height: 138px;position:static;top:0;left:0;margin-left:0}
    .home-tips{position: absolute;width: 480px;height: 180px;background: url('../mobileimg/home_tips.png') no-repeat;top:90px;left:130px}
    .home-man{left:-65px;top:20px}
    .home-tit{background: url('../mobileimg/home_tit2.jpg') no-repeat;top:320px;left: 0;height: 182px;}
    .home-bottom{top:680px;background: url('../mobileimg/home_bottom.jpg') no-repeat;width: 600px;height: 325px;margin-left: -300px}
    .home-star{margin-top:470px;}
    .home-btn2{left:230px;top:245px;}
    .home-man2{top:95px}
    .home-tit2{left:240px}

    .presentation {box-shadow:0px 0px 0px;-webkit-box-shadow:0px 0px 0px;height:984px;}
        .phase3 .presentation {height:924px;}
        .phase4 .presentation {height:1688px;}
        .phase5 .presentation {height:1312px;}
    .presentation-box {width:100%;height:756px;}
        .phase3 .presentation-box {height:762px;}
    .presentation-box .carambar-man {left:-25px!important;top:-30px!important;z-index: 2;}
    .tooltip {background:url('../mobileimg/tooltip_bg.png') no-repeat;width:487px;height:221px;top:30px!important;left:140px!important;}
        .phase3 .tooltip {background:url('../mobileimg/tooltip_bg2.png') no-repeat;width:473px;height:177px;top:30px!important;left:140px!important;}
    .tips-content {background: url('../mobileimg/tooltip_content.png') no-repeat;width:405px;height:159px;}
    .tips-video {margin:0;left:72px;top:108px;position:absolute;}
    .tips-video img {width:165px;}
    .tips-video .video-play {background-size:300px auto;background-position:55px 15px;}
    .tips-video .video-play:hover {background-position:55px 15px;}

    .tips-content-p3 {background: url('../mobileimg/tooltip_content_p3.png') no-repeat;width:406px;height:133px;}
    .tips-content-p3 .countdown {right:-7px;bottom:22px;}
    .tips-content-p3 .countdown span {width:32px;}

    .blue-road {background: url('../mobileimg/blue_road.png') no-repeat center;height: 193px;}

    .phase3 .videolist {margin-top:0;padding:0;}
    .phase3 .video-con {padding-top:80px;padding-bottom:30px;}
    .phase5 .videolist {margin-top:0;}
    .phase5 .videolist-tit2 {top:-30px;}

    .indicator-count-wrap {position:relative;left:0;right:0;background:url('../mobileimg/indicator_count_wrap_bg.jpg') no-repeat center bottom;height:487px;width:100%;}
    .phase5 .indicator-count-wrap {background: none;height: 65px;top:294px;margin-left:-135px}
    .phase4 .indicator-count-wrap {background: none;top:327px;left:50%;margin-left:-240px;}
    .phase4 .indicator-btn {left:230px;top:210px;}
    .phase4 .indicator-count {margin:20px 0 0 110px;}
    .phase4 .indicator-hashtag {margin: 20px 0 100px;background:url('../mobileimg/indicator_hashtag_4.png') no-repeat;width:479px;height:34px;}
    .phase4 .indicator-title {margin-left:0px}

    .indicator-btn {background:url('../mobileimg/indicator_btn.png') no-repeat;width:379px;height:274px;top:170px;left:50%;margin-left:-190px;}
    .indicator-btn:hover {background-position:0 0;}
    .indicator-btn.click {background-position:-1111px 0;}

    .indicator-title {font-size:23px;margin:0 auto;width:600px;}
    .phase4 .indicator-title {width:500px;}
    .indicator-count {margin:20px auto 10px auto;width:254px;}
    .indicator-hashtag {background: url('../mobileimg/indicator_hashtag.png') no-repeat;width:321px;height:23px;margin:0 auto;}
    .goto-support {background: url('../mobileimg/goto_btn.gif') no-repeat center;width:502px;}
    .challenge-inner {width:640px;}
    .challenge-item {float:left;width:207px;margin:0 3px;padding:23px 0;text-align:center;background:#e3142a;-webkit-box-shadow: 0 0px 0px 0;box-shadow: 0 0px 0px 0;}
    .map_bg,.challenge-man {display: none;}

    .pop-fb {width:600px;margin-left:-300px;}
    .pop-ft-form {width:600px;}
    .pop-ft-text {width:365px;}
    .pop-ft-text textarea {width:344px;}
    .pop-fttit {background:none;line-height:19px;font-size:19px;text-align:center;color:#fff;text-transform: uppercase;width:100%;}
    .pop-fttit span {color:#ffeb00;}
    .step1-tips {bottom:118px;}
    .pop-ft-check {font-size:18px;background:url('../mobileimg/facebook_checkbox.gif') no-repeat top left;padding:5px 0 6px 37px}
    .pop-ft-check.checked {font-size:18px;background:url('../mobileimg/facebook_checkbox.gif') no-repeat bottom left;}
    .pop-ft-btn {bottom:33px;}
    .pop-ft-text textarea {font-size:18px;}

    .btn-other-challenges {background: url(../mobileimg/btn_other_challenges.png) no-repeat;width:278px;height:46px;right:172px;}
    .phase5 .btn-other-challenges {display:none;}
    .videoshare .videoshare-t {display: none;}
    .sec-blue2 {background:#201e43;height:500px;padding:20px 0 0;}
    .sec-blue2txt {background: url(../mobileimg/sec2_bluetxt.png) no-repeat center;height:447px;}

    .barack {height:157px;}
    .baracktit {background: url(../mobileimg/baracktit.png) no-repeat;width:346px;height:53px;margin-left:-173px;}
    .barackbtn {background: url(../mobileimg/barackbtn.png) no-repeat;width:345px;height:58px;margin-left:-173px;margin-top:5px;}

    .footer {margin:0;width:100%;background-image:none;}
    .footer .footer-inner {margin:0 80px;border-top:1px solid #000;padding:20px 0 0;}
}