body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../Comments_1_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:643px;
}

.u0 {
    position:absolute;
    left:199px;
    top:9px;
    width:10px;
    height:643px;
    
}

.u1 {
    position:absolute;
    left:232px;
    top:19px;
    width:132px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../Comments_1_files/Line_Horizontal_u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u2 {
    position:absolute;
    left:229px;
    top:53px;
    width:944px;
    height:10px;
    
}

.u3_line {
    background-image: url('../Comments_1_files/Line_Horizontal_u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u3 {
    position:absolute;
    left:229px;
    top:113px;
    width:944px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:302px;
    top:135px;
    width:346px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:232px;
    top:208px;
    width:160px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Comments_1_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:232px;
    top:137px;
    width:58px;
    height:57px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:63px;
}

.u8 {
    position:absolute;
    left:2px;
    top:20px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:232px;
    top:230px;
    width:160px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:827px;
    top:137px;
    width:346px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:757px;
    top:210px;
    width:160px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Comments_1_files/u7_normal.png');
}

.u14_container {
    position:absolute;
    left:757px;
    top:139px;
    width:58px;
    height:57px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:63px;
}

.u15 {
    position:absolute;
    left:2px;
    top:20px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:757px;
    top:232px;
    width:160px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:302px;
    top:287px;
    width:346px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:232px;
    top:360px;
    width:160px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Comments_1_files/u7_normal.png');
}

.u21_container {
    position:absolute;
    left:232px;
    top:289px;
    width:58px;
    height:57px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:63px;
}

.u22 {
    position:absolute;
    left:2px;
    top:20px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:232px;
    top:382px;
    width:160px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:827px;
    top:289px;
    width:346px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:757px;
    top:362px;
    width:160px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Comments_1_files/u7_normal.png');
}

.u28_container {
    position:absolute;
    left:757px;
    top:291px;
    width:58px;
    height:57px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:63px;
}

.u29 {
    position:absolute;
    left:2px;
    top:20px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:757px;
    top:384px;
    width:160px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:302px;
    top:439px;
    width:346px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:232px;
    top:512px;
    width:160px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Comments_1_files/u7_normal.png');
}

.u35_container {
    position:absolute;
    left:232px;
    top:441px;
    width:58px;
    height:57px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:63px;
}

.u36 {
    position:absolute;
    left:2px;
    top:20px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:232px;
    top:534px;
    width:160px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:827px;
    top:441px;
    width:346px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u40_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u40_container {
    position:absolute;
    left:757px;
    top:514px;
    width:160px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Comments_1_files/u7_normal.png');
}

.u42_container {
    position:absolute;
    left:757px;
    top:443px;
    width:58px;
    height:57px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:63px;
}

.u43 {
    position:absolute;
    left:2px;
    top:20px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:757px;
    top:536px;
    width:160px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../Comments_1_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:680px;
    height:3px;
}

.u46 {
    position:absolute;
    left:368px;
    top:601px;
    width:680px;
    height:10px;
    
}

.u47_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u47_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u47_normal {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u47_container {
    position:absolute;
    left:476px;
    top:611px;
    width:30px;
    height:30px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u49_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u49_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u49_container {
    position:absolute;
    left:524px;
    top:611px;
    width:30px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u51_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u51_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u51_container {
    position:absolute;
    left:573px;
    top:611px;
    width:30px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u53_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u53_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u53_container {
    position:absolute;
    left:621px;
    top:611px;
    width:30px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u55_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u55_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u55_container {
    position:absolute;
    left:669px;
    top:611px;
    width:30px;
    height:30px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_disabled {
    background-image: url('../Comments_1_files/button_u57_disabled.png');
}

.u57_normal {
    background-image: url('../Comments_1_files/button_u57_normal.png');
}

.u57_container {
    position:absolute;
    left:368px;
    top:611px;
    width:90px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:8px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u59_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u59_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u59_container {
    position:absolute;
    left:717px;
    top:611px;
    width:30px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u61_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u61_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u61_container {
    position:absolute;
    left:765px;
    top:611px;
    width:30px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u63_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u63_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u63_container {
    position:absolute;
    left:813px;
    top:611px;
    width:30px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u65_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u65_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u65_container {
    position:absolute;
    left:862px;
    top:611px;
    width:30px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_mouseOver {
    background-image: url('../Comments_1_files/button_u47_mouseOver.png');
}

.u67_disabled {
    background-image: url('../Comments_1_files/button_u47_disabled.png');
}

.u67_normal {
    background-image: url('../Comments_1_files/button_u49_normal.png');
}

.u67_container {
    position:absolute;
    left:910px;
    top:611px;
    width:30px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_mouseOver {
    background-image: url('../Comments_1_files/button_u69_mouseOver.png');
}

.u69_disabled {
    background-image: url('../Comments_1_files/button_u69_disabled.png');
}

.u69_normal {
    background-image: url('../Comments_1_files/button_u69_normal.png');
}

.u69_container {
    position:absolute;
    left:958px;
    top:611px;
    width:90px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u70 {
    position:absolute;
    left:2px;
    top:8px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:71px;
    top:19px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_menu {
    background-image: url('../Comments_1_files/menu_u72_menu.png');
}

.u72_menu {
    position:absolute;
    left:11px;
    top:50px;
    width:174px;
    height:455px;
}

#u72_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:452px;
}

#u73 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:451px
}

.u74_mouseOver {
    background-image: url('../Comments_1_files/u74_mouseOver.png');
}

.u74_selected {
    background-image: url('../Comments_1_files/u74_selected.png');
}

.u74_normal {
    background-image: url('../Comments_1_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:40px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u75 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_mouseOver {
    background-image: url('../Comments_1_files/u76_mouseOver.png');
}

.u76_selected {
    background-image: url('../Comments_1_files/u76_selected.png');
}

.u76_normal {
    background-image: url('../Comments_1_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:40px;
    width:165px;
    height:43px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:49px;
}

.u77 {
    position:absolute;
    left:6px;
    top:14px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_mouseOver {
    background-image: url('../Comments_1_files/u74_mouseOver.png');
}

.u78_selected {
    background-image: url('../Comments_1_files/u74_selected.png');
}

.u78_normal {
    background-image: url('../Comments_1_files/u74_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:83px;
    width:165px;
    height:40px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u79 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_mouseOver {
    background-image: url('../Comments_1_files/u74_mouseOver.png');
}

.u80_selected {
    background-image: url('../Comments_1_files/u74_selected.png');
}

.u80_normal {
    background-image: url('../Comments_1_files/u74_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:123px;
    width:165px;
    height:40px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u81 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_mouseOver {
    background-image: url('../Comments_1_files/u74_mouseOver.png');
}

.u82_selected {
    background-image: url('../Comments_1_files/u74_selected.png');
}

.u82_normal {
    background-image: url('../Comments_1_files/u74_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:163px;
    width:165px;
    height:40px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u83 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_mouseOver {
    background-image: url('../Comments_1_files/u84_mouseOver.png');
}

.u84_selected {
    background-image: url('../Comments_1_files/u84_selected.png');
}

.u84_normal {
    background-image: url('../Comments_1_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:203px;
    width:165px;
    height:36px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u85 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_mouseOver {
    background-image: url('../Comments_1_files/u84_mouseOver.png');
}

.u86_selected {
    background-image: url('../Comments_1_files/u84_selected.png');
}

.u86_normal {
    background-image: url('../Comments_1_files/u84_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:239px;
    width:165px;
    height:36px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u87 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_mouseOver {
    background-image: url('../Comments_1_files/u84_mouseOver.png');
}

.u88_selected {
    background-image: url('../Comments_1_files/u84_selected.png');
}

.u88_normal {
    background-image: url('../Comments_1_files/u84_normal.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:275px;
    width:165px;
    height:36px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u89 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_mouseOver {
    background-image: url('../Comments_1_files/u84_mouseOver.png');
}

.u90_selected {
    background-image: url('../Comments_1_files/u84_selected.png');
}

.u90_normal {
    background-image: url('../Comments_1_files/u84_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:311px;
    width:165px;
    height:36px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u91 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_mouseOver {
    background-image: url('../Comments_1_files/u92_mouseOver.png');
}

.u92_selected {
    background-image: url('../Comments_1_files/u92_selected.png');
}

.u92_normal {
    background-image: url('../Comments_1_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:347px;
    width:165px;
    height:33px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u93 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_mouseOver {
    background-image: url('../Comments_1_files/u92_mouseOver.png');
}

.u94_selected {
    background-image: url('../Comments_1_files/u92_selected.png');
}

.u94_normal {
    background-image: url('../Comments_1_files/u92_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:380px;
    width:165px;
    height:33px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u95 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_mouseOver {
    background-image: url('../Comments_1_files/u92_mouseOver.png');
}

.u96_selected {
    background-image: url('../Comments_1_files/u92_selected.png');
}

.u96_normal {
    background-image: url('../Comments_1_files/u92_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:413px;
    width:165px;
    height:33px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u97 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:917px;
    top:85px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99 {
    position:absolute;
    left:917px;
    top:67px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:781px;
    top:85px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101 {
    position:absolute;
    left:781px;
    top:67px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:1056px;
    top:85px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u103 {
    position:absolute;
    left:1056px;
    top:67px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u104 {
    position:absolute;
    left:0px;
    top:0px;
    width:1279px;
    height:821px;
    overflow:hidden;
}

#pd0u104 {
    position:absolute;
    left:0px;
    top:0px;
    width:1279px;
    height:821px;
    
}

.u105_normal {
    background-image: url('../Comments_1_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1279px;
    height:819px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1285px;
    height:825px;
}

.u106 {
    position:absolute;
    left:2px;
    top:402px;
    width:1275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Comments_1_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:302px;
    top:179px;
    width:687px;
    height:422px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:693px;
    height:428px;
}

.u108 {
    position:absolute;
    left:2px;
    top:203px;
    width:683px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Comments_1_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:322px;
    top:205px;
    width:388px;
    height:371px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:394px;
    height:377px;
}

.u110 {
    position:absolute;
    left:2px;
    top:178px;
    width:384px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:746px;
    top:205px;
    width:150px;
    height:105px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:746px;
    top:334px;
    width:219px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Comments_1_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:959px;
    top:149px;
    width:30px;
    height:30px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u114 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

