<form name="form" class="css-form" novalidate xmlns="http://www.w3.org/1999/html">
    <div>username: <input class="form-control" type="text" ng-model="user.name" name="name" required /></div>
    <div>firstname: <input class="form-control" type="text" ng-model="user.firstname" name="firstname" required /></div>
    <div>lastname: <input class="form-control" type="text" ng-model="user.lastname" name="lastname" required /></div>
    <div>password: <input class="form-control" type="password" ng-model="user.password" name="passowrd" required /></div>
    <div>company_email: <input class="form-control" type="text" ng-model="user.company_email" name="company_email" required /></div>
    <div>personal_email: <input class="form-control" type="text" ng-model="user.personal_email" name="personal_email" required /></div>
    <div>country id: <input class="form-control" type="text" ng-model="user.country_id" name="country_id" required /></div>
    <div>avatar: <input class="form-control" type="text" ng-model="user.avatar" name="avatar" required /></div>

    <button ng-click="save(user)"
            ng-disabled="form.$invalid || isUnchanged(user)">SAVE</button>
</form>