body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../Edit_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:643px;
}

.u0 {
    position:absolute;
    left:199px;
    top:9px;
    width:10px;
    height:643px;
    
}

.u1 {
    position:absolute;
    left:232px;
    top:19px;
    width:132px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../Edit_files/Line_Horizontal_u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u2 {
    position:absolute;
    left:229px;
    top:53px;
    width:944px;
    height:10px;
    
}

.u3_line {
    background-image: url('../Edit_files/Line_Vertical_u3_line.png');
}

.u3_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:382px;
}

.u3 {
    position:absolute;
    left:680px;
    top:86px;
    width:10px;
    height:382px;
    
}

.u4_normal {
    background-image: url('../Edit_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:727px;
    top:133px;
    width:352px;
    height:288px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:358px;
    height:294px;
}

.u5 {
    position:absolute;
    left:2px;
    top:136px;
    width:348px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:229px;
    top:179px;
    width:413px;
    height:161px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:229px;
    top:159px;
    width:274px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:232px;
    top:106px;
    width:90px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:232px;
    top:86px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:327px;
    top:133px;
    width:161px;
    height:164px;
    overflow:hidden;
}

#pd0u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:164px;
    
}

.u11_normal {
    background-image: url('../Edit_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:162px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:168px;
}

.u12 {
    position:absolute;
    left:2px;
    top:73px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Edit_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:5px;
    top:7px;
    width:150px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Edit_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:9px;
    top:42px;
    width:146px;
    height:118px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:118px;
}

.u16 {
    position:absolute;
    left:2px;
    top:51px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Edit_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:71px;
    top:89px;
    width:21px;
    height:18px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:24px;
}

.u18 {
    position:absolute;
    left:2px;
    top:1px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:55px;
    top:15px;
    width:50px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Edit_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:135px;
    top:15px;
    width:15px;
    height:15px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:71px;
    top:89px;
    width:21px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
}

.u23_normal {
    background-image: url('../Edit_files/u20_normal.png');
}

.u23_container {
    position:absolute;
    left:9px;
    top:15px;
    width:15px;
    height:15px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Edit_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:327px;
    top:106px;
    width:20px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../Edit_files/Button_u27_mouseOver.png');
}

.u27_normal {
    background-image: url('../Edit_files/Button_u27_normal.png');
}

.u27_container {
    position:absolute;
    left:347px;
    top:421px;
    width:100px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../Edit_files/Button_u29_mouseOver.png');
}

.u29_normal {
    background-image: url('../Edit_files/Button_u29_normal.png');
}

.u29_container {
    position:absolute;
    left:229px;
    top:421px;
    width:100px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:229px;
    top:377px;
    width:250px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:229px;
    top:357px;
    width:229px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:727px;
    top:97px;
    width:68px;
    height:16px;
    overflow:hidden;
}

#pd1u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:16px;
    
}

.u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:16px;
    
}

.u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_mouseOver {
    background-image: url('../Edit_files/Button_u36_mouseOver.png');
}

.u36_normal {
    background-image: url('../Edit_files/Button_u36_normal.png');
}

.u36_container {
    position:absolute;
    left:804px;
    top:91px;
    width:83px;
    height:27px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:33px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:71px;
    top:19px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_menu {
    background-image: url('../Edit_files/menu_u39_menu.png');
}

.u39_menu {
    position:absolute;
    left:11px;
    top:50px;
    width:174px;
    height:455px;
}

#u39_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:452px;
}

#u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:451px
}

.u41_mouseOver {
    background-image: url('../Edit_files/u41_mouseOver.png');
}

.u41_selected {
    background-image: url('../Edit_files/u41_selected.png');
}

.u41_normal {
    background-image: url('../Edit_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u42 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../Edit_files/u43_mouseOver.png');
}

.u43_selected {
    background-image: url('../Edit_files/u43_selected.png');
}

.u43_normal {
    background-image: url('../Edit_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:40px;
    width:165px;
    height:43px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:49px;
}

.u44 {
    position:absolute;
    left:6px;
    top:14px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../Edit_files/u41_mouseOver.png');
}

.u45_selected {
    background-image: url('../Edit_files/u41_selected.png');
}

.u45_normal {
    background-image: url('../Edit_files/u41_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:83px;
    width:165px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u46 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../Edit_files/u41_mouseOver.png');
}

.u47_selected {
    background-image: url('../Edit_files/u41_selected.png');
}

.u47_normal {
    background-image: url('../Edit_files/u41_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:123px;
    width:165px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u48 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../Edit_files/u41_mouseOver.png');
}

.u49_selected {
    background-image: url('../Edit_files/u41_selected.png');
}

.u49_normal {
    background-image: url('../Edit_files/u41_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:163px;
    width:165px;
    height:40px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u50 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../Edit_files/u51_mouseOver.png');
}

.u51_selected {
    background-image: url('../Edit_files/u51_selected.png');
}

.u51_normal {
    background-image: url('../Edit_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:203px;
    width:165px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u52 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../Edit_files/u51_mouseOver.png');
}

.u53_selected {
    background-image: url('../Edit_files/u51_selected.png');
}

.u53_normal {
    background-image: url('../Edit_files/u51_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:239px;
    width:165px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u54 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../Edit_files/u51_mouseOver.png');
}

.u55_selected {
    background-image: url('../Edit_files/u51_selected.png');
}

.u55_normal {
    background-image: url('../Edit_files/u51_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:275px;
    width:165px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u56 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_mouseOver {
    background-image: url('../Edit_files/u51_mouseOver.png');
}

.u57_selected {
    background-image: url('../Edit_files/u51_selected.png');
}

.u57_normal {
    background-image: url('../Edit_files/u51_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:311px;
    width:165px;
    height:36px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u58 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_mouseOver {
    background-image: url('../Edit_files/u59_mouseOver.png');
}

.u59_selected {
    background-image: url('../Edit_files/u59_selected.png');
}

.u59_normal {
    background-image: url('../Edit_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:347px;
    width:165px;
    height:33px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u60 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../Edit_files/u59_mouseOver.png');
}

.u61_selected {
    background-image: url('../Edit_files/u59_selected.png');
}

.u61_normal {
    background-image: url('../Edit_files/u59_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:380px;
    width:165px;
    height:33px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u62 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../Edit_files/u59_mouseOver.png');
}

.u63_selected {
    background-image: url('../Edit_files/u59_selected.png');
}

.u63_normal {
    background-image: url('../Edit_files/u59_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:413px;
    width:165px;
    height:33px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u64 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

