body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../Create_New_User_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:643px;
}

.u0 {
    position:absolute;
    left:199px;
    top:9px;
    width:10px;
    height:643px;
    
}

.u1 {
    position:absolute;
    left:232px;
    top:19px;
    width:132px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../Create_New_User_files/Line_Horizontal_u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u2 {
    position:absolute;
    left:229px;
    top:53px;
    width:944px;
    height:10px;
    
}

.u3 {
    position:absolute;
    left:232px;
    top:200px;
    width:103px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:232px;
    top:180px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:229px;
    top:98px;
    width:243px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:229px;
    top:82px;
    width:243px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:229px;
    top:147px;
    width:243px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:229px;
    top:131px;
    width:243px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:229px;
    top:268px;
    width:130px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u10 {
    position:absolute;
    left:229px;
    top:238px;
    width:109px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../Create_New_User_files/Button_u11_mouseOver.png');
}

.u11_normal {
    background-image: url('../Create_New_User_files/Button_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:343px;
    top:270px;
    width:73px;
    height:18px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:24px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../Create_New_User_files/Button_u13_mouseOver.png');
}

.u13_normal {
    background-image: url('../Create_New_User_files/Button_u13_normal.png');
}

.u13_container {
    position:absolute;
    left:229px;
    top:315px;
    width:100px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_mouseOver {
    background-image: url('../Create_New_User_files/Button_u13_mouseOver.png');
}

.u15_normal {
    background-image: url('../Create_New_User_files/Button_u13_normal.png');
}

.u15_container {
    position:absolute;
    left:351px;
    top:315px;
    width:100px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:71px;
    top:19px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../Create_New_User_files/menu_u18_menu.png');
}

.u18_menu {
    position:absolute;
    left:11px;
    top:50px;
    width:174px;
    height:455px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:452px;
}

#u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:451px
}

.u20_mouseOver {
    background-image: url('../Create_New_User_files/u20_mouseOver.png');
}

.u20_selected {
    background-image: url('../Create_New_User_files/u20_selected.png');
}

.u20_normal {
    background-image: url('../Create_New_User_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u21 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../Create_New_User_files/u22_mouseOver.png');
}

.u22_selected {
    background-image: url('../Create_New_User_files/u22_selected.png');
}

.u22_normal {
    background-image: url('../Create_New_User_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:40px;
    width:165px;
    height:43px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:49px;
}

.u23 {
    position:absolute;
    left:6px;
    top:14px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_mouseOver {
    background-image: url('../Create_New_User_files/u20_mouseOver.png');
}

.u24_selected {
    background-image: url('../Create_New_User_files/u20_selected.png');
}

.u24_normal {
    background-image: url('../Create_New_User_files/u20_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:83px;
    width:165px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u25 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_mouseOver {
    background-image: url('../Create_New_User_files/u20_mouseOver.png');
}

.u26_selected {
    background-image: url('../Create_New_User_files/u20_selected.png');
}

.u26_normal {
    background-image: url('../Create_New_User_files/u20_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:123px;
    width:165px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u27 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_mouseOver {
    background-image: url('../Create_New_User_files/u20_mouseOver.png');
}

.u28_selected {
    background-image: url('../Create_New_User_files/u20_selected.png');
}

.u28_normal {
    background-image: url('../Create_New_User_files/u20_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:163px;
    width:165px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u29 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../Create_New_User_files/u30_mouseOver.png');
}

.u30_selected {
    background-image: url('../Create_New_User_files/u30_selected.png');
}

.u30_normal {
    background-image: url('../Create_New_User_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:203px;
    width:165px;
    height:36px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u31 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../Create_New_User_files/u30_mouseOver.png');
}

.u32_selected {
    background-image: url('../Create_New_User_files/u30_selected.png');
}

.u32_normal {
    background-image: url('../Create_New_User_files/u30_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:239px;
    width:165px;
    height:36px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u33 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../Create_New_User_files/u30_mouseOver.png');
}

.u34_selected {
    background-image: url('../Create_New_User_files/u30_selected.png');
}

.u34_normal {
    background-image: url('../Create_New_User_files/u30_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:275px;
    width:165px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u35 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_mouseOver {
    background-image: url('../Create_New_User_files/u30_mouseOver.png');
}

.u36_selected {
    background-image: url('../Create_New_User_files/u30_selected.png');
}

.u36_normal {
    background-image: url('../Create_New_User_files/u30_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:311px;
    width:165px;
    height:36px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u37 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../Create_New_User_files/u38_mouseOver.png');
}

.u38_selected {
    background-image: url('../Create_New_User_files/u38_selected.png');
}

.u38_normal {
    background-image: url('../Create_New_User_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:347px;
    width:165px;
    height:33px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u39 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../Create_New_User_files/u38_mouseOver.png');
}

.u40_selected {
    background-image: url('../Create_New_User_files/u38_selected.png');
}

.u40_normal {
    background-image: url('../Create_New_User_files/u38_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:380px;
    width:165px;
    height:33px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u41 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_mouseOver {
    background-image: url('../Create_New_User_files/u38_mouseOver.png');
}

.u42_selected {
    background-image: url('../Create_New_User_files/u38_selected.png');
}

.u42_normal {
    background-image: url('../Create_New_User_files/u38_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:413px;
    width:165px;
    height:33px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u43 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

