@charset "utf-8";
/*
 * carambar
 * zx 2014 03 12
 */

/* Reset
================================================================================================= */
body{color:#000;font-size:12px;line-height:1.666em;background: #feee00 url('../images/bg.jpg') repeat-x top center}
body{font-family:Arial,sans-serif;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img,div{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}

/* Commonly Used
================================================================================================= */
a{text-decoration:none;color:#000;outline: none;}
a:hover{color:#e82426}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}


/* Header Used
================================================================================================= */
.header{height: 130px;background: url('../images/hdbg.gif') no-repeat bottom center;width:100%}
    .hdcontent{width:1000px;margin: 0 auto;position: relative;}
        .nav1{background: url('../images/nav.png') no-repeat 0 0;width: 120px;height: 25px;position: absolute;top:48px;left:50%;margin: 0 0 0 -345px}
        .nav2{background: url('../images/nav.png') no-repeat -120px 0;width: 120px;height: 25px;position: absolute;top:48px;left:50%;margin: 0 0 0 235px}
        .nav1on{}
        .nav2on{}

/* Section  Used
================================================================================================= */
.videopart{width:808px;height:339px;padding:16px 25px 0;margin: 55px auto 0;position: relative;background: url('../images/videopart.png') no-repeat;}
.videopart1{width:598px;}
    .videomod{float: left;width: 556px;height: 309px}
    .videotxt{float: left;display:inline;margin:8px 0 0 8px;width: 214px;height: 250px;background:#dadada ;color:#12103b;padding:0 10px;}
        h2{text-transform:Uppercase;font-size: 18px;font-weight: normal;padding: 18px 0 5px}
        .videotxt-item{font-size:12px;padding:4px 0 0;overflow: hidden;}
            .videotxt-item h3{color:#e00025;text-transform:Uppercase;font-weight: normal;}
            .videotxt-item span{display: block;text-align: right;padding:0px;border-top: #12103b solid 1px;}
    .videobot{cursor:pointer;background: url('../images/videobot.png') no-repeat;height: 61px;width: 150px;position: absolute;bottom:0;right:78px;}
    .videoshare{position: absolute;top:-28px;right: 125px}
        .videoshare a{background: url('../img/videoshare.png') no-repeat 0 0;width: 32px;height: 32px;display: block;margin: 0 0 12px;}
        /*.videoshare .share-t{background-position: 0 -40px}*/
        .videoshare .videoshare-t{background: url('../images/share_t.png') no-repeat;width: 43px;height: 43px;}
        .videoshare .videoshare-y{background-position: 0 -80px}
        .videoshare .videoshare-i{background-position: 0 -120px}

.sec-blue{background: #39376d url('../images/sec1_blue.png') repeat-x;height: 174px;width:100%;margin: 20px 0 0;}
    .sec-bluecon{width:800px;margin: 0 auto;position: relative;}
        .sec-bluepho{width:270px;height: 187px;background: url('../images/sec1-bluepho.png') no-repeat;position: absolute;top:0px;left:0}
        .sec-bluenum{height: 150px;width:300px;position: absolute;background: url('../images/sec1-bluepho.png') no-repeat -270px 0;left:270px;top:0; }
        .sec-bluetime{height: 150px;width:358px;position: absolute;background: url('../images/sec1-bluepho.png') no-repeat -570px 0;left:570px;top:0;}


.videolistbg{background:#dbdbdb ;}
.videolist{background: url('../images/videolist.jpg') no-repeat center;height: 288px;margin: 40px 0 0;position: relative;}
.videolistshare{background: url('../images/videolistbg.png') repeat-x;height: 288px;width: 100%}
    .video-con{width:798px;margin: 0 auto;padding: 88px 0 0;}
    .videolist-item{float:left;position: relative;width: 250px;height: 170px;text-align: center;font-size:18px;color:#fff;display: inline;margin-left:12px;}
        .videolist-box{background: #fff;width:248px;height: 132px;padding:2px;}
        .videolist-txt{line-height: 30px;}
        .video-icon{background: url('../images/video_icon.png') no-repeat;width: 64px;height: 98px;position: absolute;left:-15px;top:-32px}
        .videolist-boxnull{border: #2b2761 dotted 5px;height:126px;width: 242px; line-height: 120px;}
    .videolist-pro{position: absolute;background: url('../images/videolist_pro.png') no-repeat;width: 208px;height: 239px;bottom:0;right:100px;}

.line{background:#ffeb00 url('../images/linebg.png') repeat-x center ;}
.line1{margin: 15px 0 0}
.line2{padding: 30px 0 ;position: relative;z-index: 10}
.line3{margin: 8px 0 12px;}
    .line-com1{cursor:pointer;background: url('../images/line_com1.png') no-repeat;width: 465px;height: 45px;margin: 0 auto}
    .line-com2{background: url('../images/line_com2.png') no-repeat center;width: 465px;height: 45px;margin: 0 auto}
    .line-com3{cursor:pointer;background:#ffeb00 url('../images/line_com3.png') no-repeat center;width: 240px;height: 55px;margin: 0 auto}

.barack{background: url('../images/barack.jpg') repeat-x center;height: 167px;position: relative;z-index: 10}
    .baracktit{background: url('../images/baracktit.png') no-repeat;width: 347px;height: 69px;position: absolute;top:-20px;left:50%;margin-left:-173px;}
    .baracktxt{font-size: 28px;color:#fff;text-align: center;top:58px;position: absolute;width:100%;}
    .barackbtn{cursor:pointer;background: url('../images/barackbtn.png') no-repeat;width: 324px;height: 54px;position: absolute;top:96px;left:50%;margin-left:-162px;}

.img{background: url('../images/img.png') no-repeat center;height: 308px;margin: 24px 0 0}

.share{background: url('../images/sharebg.png') no-repeat center;height: 283px;position: relative;}
    .share-fb{position: absolute;left:50%;margin-left:-385px;top:16px;background: url('../images/sharefb.png') no-repeat;width:243px;height: 252px}
        .share-fbbtn{display: block;background: url('../images/btn_fb.png') no-repeat;width:221px;height: 35px;margin: 200px auto 0}
    .share-t{position: absolute;width:190px;left:50%;margin-left:-142px;top:16px;background: url('../images/sharet.png') no-repeat;width:192px;height: 132px;padding:120px 42px 0;}
        .share-txt{width:190px;height:25px;border:0;background: none}
        .share-t-num{text-align: right;font-size: 14px;padding:8px 0}
        .share-tbtn{display: block;margin:12px auto 0;background: url('../images/btn_t.png') no-repeat;width:105px;height: 34px;}
    .share-i{position: absolute;width:220px;left:50%;margin-left:134px;top:16px;background: url('../images/sharei.png') no-repeat;width:219px;height: 52px;padding:200px 16px;}
        .share-iandroid{display: block;background: url('../images/btn_iandroid.png') no-repeat;width:104px;height: 36px;float:left}
        .share-iios{display: block;background: url('../images/btn_iios.png') no-repeat;width:104px;height: 36px;float:right}

.tshirttit{background: url('../images/tshirttit.png') no-repeat top center;height: 85px;margin: 18px auto 0}

.tshirt{background: url('../images/tshirt.jpg') no-repeat top center;height: 245px;margin: 8px auto 0}

.photit{background: url('../images/photit.png') no-repeat top center;height: 93px;margin: 15px auto 0}

.pholist{background: url('../images/pholist.png') repeat-x center;height: 153px;margin: 15px auto 0;width:812px;padding:0 0 0 24px;}
    .phoitem{float:left;background:#000;padding: 3px;width: 126px;height: 121px;display: inline;margin:15px 13px;}

/* footer Used
================================================================================================= */
.footer{width:770px;margin:0 auto;font-size: 8px;color: #000;text-transform:Uppercase;text-align: center;line-height: 36px;border-top: #222048 solid 1px;}