@charset "utf-8";
/*
 * carambar
 * zx 2014 03 12
 */

/* Reset
================================================================================================= */
body{color:#000;font-size:12px;line-height:1.666em;}
body{font-family:Arial,sans-serif;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img,div{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}

/* Commonly Used
================================================================================================= */
a{text-decoration:none;color:#000;outline: none;}
a:hover{color:#e82426}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}


/* Header Used
================================================================================================= */
.header{height: 164px;background: url('../images/hdbg.png') no-repeat bottom center;width:100%;position: absolute;top:10px;z-index:11;}
    .hdcontent{width:1000px;margin: 0 auto;position: relative;}
        .nav1{background: url('../images/nav.png') no-repeat 0 0;width: 120px;height: 25px;position: absolute;top:48px;left:50%;margin: 0 0 0 -345px}
        .nav2{background: url('../images/nav.png') no-repeat -120px 0;width: 120px;height: 25px;position: absolute;top:48px;left:50%;margin: 0 0 0 235px}
        .nav1on{}
        .nav2on{}

/* Section  Used
================================================================================================= */
.videopart{width:808px;height:339px;padding:16px 25px 0;margin: 55px auto 0;position: relative;background: url('../images/videopart.png') no-repeat;}
.videopart1{width:598px;}
    .videomod{float: left;width: 556px;height: 309px}
    .videotxt{float: left;display:inline;margin:8px 0 0 8px;width: 214px;height: 250px;background:#dadada ;color:#12103b;padding:0 10px;}
        h2{text-transform:Uppercase;font-size: 18px;font-weight: normal;padding: 18px 0 5px}
        .videotxt-item{font-size:12px;padding:4px 0 0;overflow: hidden;}
            .videotxt-item h3{color:#e00025;text-transform:Uppercase;font-weight: normal;}
            .videotxt-item span{display: block;text-align: right;padding:0px;border-top: #12103b solid 1px;}
    .videoshare{position: absolute;bottom:22px;right: 35px}
        .videoshare a{background: url('../img/videoshare.png') no-repeat 0 0;width: 32px;height: 32px;display: block;margin: 0 0 12px;}
        /*.videoshare .share-t{background-position: 0 -40px}*/
        .videoshare .share-t{background: url('../images/share_t.png') no-repeat;width: 43px;height: 43px;}
        .videoshare .share-y{background-position: 0 -80px}
        .videoshare .share-i{background-position: 0 -120px}

.sec-blue{background: #39376d url('../images/sec1_blue.png') repeat-x;height: 174px;width:100%;margin: 34px 0 0;}
    .sec-bluecon{width:895px;margin: 0 auto;position: relative;}
        .sec-bluepho{width:240px;height: 187px;background: url('../images/sec1-bluepho.png') no-repeat;position: absolute;top:-12px;left:0}
        .sec-bluenum{height: 150px;width:268px;border-right: #fff solid 1px;position: absolute;background: url('../images/sec1-bluepho.png') no-repeat -240px -30px;left:240px;top:12px; }
        .sec-bluetime{height: 150px;width:358px;border-left: #000 solid 2px;position: absolute;background: url('../images/sec1-bluepho.png') no-repeat -513px -30px;left:509px;top:12px;}


.videolistbg{background: url('../images/videolistbg.png') repeat-x;}
.videolist{background: url('../images/videolist.jpg') no-repeat center;height: 307px;margin: 40px 0 0}
    .video-con{width:798px;margin: 0 auto;padding: 108px 0 0;}
    .videolist-item{float:left;position: relative;width: 250px;height: 170px;text-align: center;font-size:18px;color:#fff;display: inline;margin-left:12px;}
        .videolist-box{background: #fff;width:248px;height: 132px;padding:2px;}
        .videolist-txt{line-height: 30px;}
        .video-icon{background: url('../images/video_icon.png') no-repeat;width: 64px;height: 98px;position: absolute;left:-15px;top:-32px}
        .videolist-boxnull{border: #2b2761 dotted 5px;height:126px;width: 242px; }

.sec2{background: url('../images/sec2_bg.png') repeat-x top left;height: 230px;margin: 38px 0 0}
    .sec2-txt{background: url('../images/sec2_txt.jpg') no-repeat center top;height: 230px}

/* footer Used
================================================================================================= */
.footer{font-size: 10px;color: #040d3e;text-transform:Uppercase;text-align: center;line-height: 28px;}


/* presentation
================================================================================================= */
.presentation {position: relative;z-index:9;background: url(../images/presentation_bg.gif) repeat-x top;height:645px;padding-top:1px;-webkit-box-shadow: 0 10px 20px 0 #363636;box-shadow: 0 10px 20px 0 #363636;}
.skyline {background: url(../images/presentation_skyline.png) no-repeat center top;height:600px;bottom:0;position: absolute;width:100%;}
.blue-road {background: url(../images/blue_road.png) no-repeat center;height:162px;position:absolute;top:331px;width:100%;}
.presentation-box {width:1000px;height:430px;margin:80px auto 0 auto;position: relative;}
.carambar-man {background: url(../images/carambar-man.png) no-repeat;width:240px;height:382px;left:85px;position: absolute;}
.tooltip {background:url(../images/tooltip_bg.png) no-repeat;width:593px;height:168px;position: absolute;top:66px;left:249px;}
    .tips-content {background: url(../images/tooltip_content.png) no-repeat;width:246px;height:123px;float: left;margin:20px 0 0 70px;}
    .tips-video {border:2px solid #fff;float:left;margin:21px 0 0 20px;}
.indicator-count-wrap {width:600px;position: absolute;top:275px;left:325px;}
    .indicator-title {color:#fff;text-transform:uppercase;width:283px;text-align: center;}
    .indicator-hashtag {background: url(../images/indicator_hashtag.png) no-repeat;width:283px;height:20px;text-indent:-999em;}
    .indicator-btn {cursor:pointer;background: url(../images/indicator_btn.png) no-repeat;width:319px;height:227px;position: absolute;top:-58px;left:309px;}
        .indicator-btn:hover {background-position:-365px 0;}
        .indicator-btn:active {background-position:-794px 0;}
.goto-support-bg {background: url(../images/goto_star.png) no-repeat center;width:100%;height:46px;position: relative;z-index:10;}
    .goto-support {background:#ffeb00 url(../images/goto_btn.gif) no-repeat center;width:406px;height:46px;text-indent:-999em;margin:0 auto;display: block;}


/* challenge
================================================================================================= */
.challenge {position:relative;z-index:8;}
.map_bg {position: absolute;background:url(../images/map_bg.jpg) no-repeat top;background-size:100% auto;width:100%;height:304px;}