<form name="form" class="video-form css-form" novalidate xmlns="http://www.w3.org/1999/html">
    <h4>Create New Video</h4>
    <div class="form-group"><label>Video Title:</label> <input class="form-control" type="text" ng-model="video.title" name="title" required /></div>
    <div class="form-group"><label>Video URL:</label> <input class="form-control" type="text" ng-model="video.url" name="url" required /></div>
    <div class="form-group"><label>Ribbon:</label>
        <select class="form-control" ng-model="video.ribbon" ng-init="video.ribbon='1'">
            <option value="1">PRESQUE</option>
            <option value="2">ON L'A FAIT!</option>
            <option value="0">None</option>
        </select>
    </div>
    <div class="form-group"><label>Show on the top:</label>
        <div><input type="checkbox" ng-model="video.showtop" /> This video will show on the top.</div>
    </div>
    <button class="btn btn-primary btn-submit" ng-click="save(video)"
            ng-disabled="form.$invalid || isUnchanged(video)">SAVE</button>
</form>