<div class="btn-group video-manage-btn-group phase{{phase}}">
    <a class="btn btn-danger phase1" ng-href="#/video/phase/1">Phase 1-2</a>
    <a class="btn btn-danger phase3" ng-href="#/video/phase/3">Phase 3</a>
    <a class="btn btn-danger phase4" ng-href="#/video/phase/4">Phase 4</a>
    <a class="btn btn-danger phase5" ng-href="#/video/phase/5">Phase 5</a>
    <a style="margin-left:15px;" class="btn btn-primary" ng-href="#/video">Library</a>
    <a style="float:right;" class="btn btn-danger" ng-href="#/video/create">+ Add new video to library</a>
</div>

<div class="videos-list-wrap video-phase-list">
    <h4>Video List on Phase {{phase}}</h4>
    <table>
        <tr>
            <th>Title</th>
            <th>Youtube ID</th>
            <th>Ribbon</th>
            <th>Top</th>
            <th>Phase</th>
	        <td>No.</td>
            <th>Action</th>
        </tr>
        <tr ng-repeat="video in videos">
            <td>{{video.title}}</td>
            <td>{{video.mid}}</td>
            <td>{{video.ribbon | ribbon}}</td>
            <td>{{video.position | showtop}}</td>
            <td>{{video.phase}}</td>
	        <td><select ng-model="video.rank"
	                    data-ng-options="v.title for v in videoranks">
	        </select></td>
            <td><a class="btn btn-success" ng-click="saveRank(video)">Save</a> <a class="btn btn-primary" ng-href="#video/edit/{{video.vid}}">Edit</a> <a class="btn btn-danger" ng-click="remove(video)">Remove from this phase</a></td>
        </tr>
    </table>
</div>


<div class="video-phase-add">
    <select ng-model="selectedVideo"
            data-ng-options="v.title for v in allvideos">
        <option style="display:none" value="">Select a video to add into phase {{phase}}</option>
    </select>

    <div class="btn btn-danger" ng-click="save(selectedVideo)">Add video to phase {{phase}}</div>
	<span class="error" ng-show="errorDuplicate">This video already selected in phase {{phase}}</span>
	<span class="error" ng-show="errorMaxVideoSection">The max in video section is 6</span>
</div>
