/*.btn2:hover,.com-counts .clickable:hover {opacity:0.6;filter:alpha(opacity=60);}*/

/*.btn:hover*/
/*{opacity:0.8;filter:alpha(opacity=80);}*/

.loading-list,
.count-userinfo,.com-ipt,.select-option p,.editfi-country-option p,
.btn,.btn2,.search-sub,.search-ipt,.menu-item-arrow,.menu-item,.com-counts .clickable,.user,
a
{
    -webkit-transition:   all 0.3s ease;-moz-transition:  all 0.3s ease;-o-transition:  all 0.3s ease;-ms-transition:  all 0.3s ease;transition:  all 0.3s ease;
    -webkit-backface-visiblility:hidden;
    -webkit-transform: translateZ(0);
}

.pic-item {
    -webkit-transition:   all 0.2s ease;-moz-transition:  all 0.2s ease;-o-transition:  all 0.2s ease;-ms-transition:  all 0.2s ease;transition:  all 0.2s ease;
    -webkit-backface-visiblility:hidden;
    -webkit-transform: translateZ(0);
}


.popload-icon, .inner-loading, .loading-list
{
    -moz-animation: rotate 5s linear infinite;
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
    -webkit-backface-visiblility:hidden;
    -webkit-transform: translateZ(0);
}

.page-loading-logo {
    -moz-animation: slideDown 0.5s ease 1s 1 forwards;
    -webkit-animation: slideDown 0.5s ease 1s 1 forwards;
    animation: slideDown 0.5s ease 1s 1 forwards;
}

@-webkit-keyframes slideDown {
    0% {opacity:0;top:40%;}
    100% {opacity:1;top:50%;}
}

@-moz-keyframes slideDown {
    0% {opacity:0;top:40%;}
    100% {opacity:1;top:50%;}
}

@keyframes slideDown {
    0% {opacity:0;top:40%;}
    100% {opacity:1;top:50%;}
}

@-webkit-keyframes rotate {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(720deg);}
}

@-moz-keyframes rotate {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(720deg);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(720deg);}
}

