body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../Edit_2_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:643px;
}

.u0 {
    position:absolute;
    left:199px;
    top:9px;
    width:10px;
    height:643px;
    
}

.u1 {
    position:absolute;
    left:232px;
    top:19px;
    width:132px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../Edit_2_files/Line_Horizontal_u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u2 {
    position:absolute;
    left:229px;
    top:53px;
    width:944px;
    height:10px;
    
}

.u3_line {
    background-image: url('../Edit_2_files/Line_Horizontal_u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:944px;
    height:3px;
}

.u3 {
    position:absolute;
    left:229px;
    top:113px;
    width:944px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:317px;
    top:536px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:232px;
    top:281px;
    width:103px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:232px;
    top:261px;
    width:94px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:229px;
    top:179px;
    width:243px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:229px;
    top:163px;
    width:243px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:229px;
    top:228px;
    width:243px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:229px;
    top:212px;
    width:243px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:229px;
    top:349px;
    width:130px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u12 {
    position:absolute;
    left:229px;
    top:319px;
    width:109px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../Edit_2_files/Button_u13_mouseOver.png');
}

.u13_normal {
    background-image: url('../Edit_2_files/Button_u13_normal.png');
}

.u13_container {
    position:absolute;
    left:343px;
    top:351px;
    width:73px;
    height:18px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:24px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_mouseOver {
    background-image: url('../Edit_2_files/Button_u15_mouseOver.png');
}

.u15_normal {
    background-image: url('../Edit_2_files/Button_u15_normal.png');
}

.u15_container {
    position:absolute;
    left:229px;
    top:396px;
    width:100px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_mouseOver {
    background-image: url('../Edit_2_files/Button_u15_mouseOver.png');
}

.u17_normal {
    background-image: url('../Edit_2_files/Button_u15_normal.png');
}

.u17_container {
    position:absolute;
    left:351px;
    top:396px;
    width:100px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:229px;
    top:135px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:71px;
    top:19px;
    width:83px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_menu {
    background-image: url('../Edit_2_files/menu_u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:11px;
    top:50px;
    width:174px;
    height:455px;
}

#u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:452px;
}

#u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:451px
}

.u23_mouseOver {
    background-image: url('../Edit_2_files/u23_mouseOver.png');
}

.u23_selected {
    background-image: url('../Edit_2_files/u23_selected.png');
}

.u23_normal {
    background-image: url('../Edit_2_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u24 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_mouseOver {
    background-image: url('../Edit_2_files/u25_mouseOver.png');
}

.u25_selected {
    background-image: url('../Edit_2_files/u25_selected.png');
}

.u25_normal {
    background-image: url('../Edit_2_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:40px;
    width:165px;
    height:43px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:49px;
}

.u26 {
    position:absolute;
    left:6px;
    top:14px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../Edit_2_files/u23_mouseOver.png');
}

.u27_selected {
    background-image: url('../Edit_2_files/u23_selected.png');
}

.u27_normal {
    background-image: url('../Edit_2_files/u23_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:83px;
    width:165px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u28 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../Edit_2_files/u23_mouseOver.png');
}

.u29_selected {
    background-image: url('../Edit_2_files/u23_selected.png');
}

.u29_normal {
    background-image: url('../Edit_2_files/u23_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:123px;
    width:165px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u30 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_mouseOver {
    background-image: url('../Edit_2_files/u23_mouseOver.png');
}

.u31_selected {
    background-image: url('../Edit_2_files/u23_selected.png');
}

.u31_normal {
    background-image: url('../Edit_2_files/u23_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:163px;
    width:165px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u32 {
    position:absolute;
    left:6px;
    top:12px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../Edit_2_files/u33_mouseOver.png');
}

.u33_selected {
    background-image: url('../Edit_2_files/u33_selected.png');
}

.u33_normal {
    background-image: url('../Edit_2_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:203px;
    width:165px;
    height:36px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u34 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../Edit_2_files/u33_mouseOver.png');
}

.u35_selected {
    background-image: url('../Edit_2_files/u33_selected.png');
}

.u35_normal {
    background-image: url('../Edit_2_files/u33_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:239px;
    width:165px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u36 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../Edit_2_files/u33_mouseOver.png');
}

.u37_selected {
    background-image: url('../Edit_2_files/u33_selected.png');
}

.u37_normal {
    background-image: url('../Edit_2_files/u33_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:275px;
    width:165px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u38 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../Edit_2_files/u33_mouseOver.png');
}

.u39_selected {
    background-image: url('../Edit_2_files/u33_selected.png');
}

.u39_normal {
    background-image: url('../Edit_2_files/u33_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:311px;
    width:165px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:42px;
}

.u40 {
    position:absolute;
    left:6px;
    top:10px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../Edit_2_files/u41_mouseOver.png');
}

.u41_selected {
    background-image: url('../Edit_2_files/u41_selected.png');
}

.u41_normal {
    background-image: url('../Edit_2_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:347px;
    width:165px;
    height:33px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u42 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../Edit_2_files/u41_mouseOver.png');
}

.u43_selected {
    background-image: url('../Edit_2_files/u41_selected.png');
}

.u43_normal {
    background-image: url('../Edit_2_files/u41_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:380px;
    width:165px;
    height:33px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u44 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../Edit_2_files/u41_mouseOver.png');
}

.u45_selected {
    background-image: url('../Edit_2_files/u41_selected.png');
}

.u45_normal {
    background-image: url('../Edit_2_files/u41_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:413px;
    width:165px;
    height:33px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u46 {
    position:absolute;
    left:6px;
    top:9px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../Edit_2_files/u47_mouseOver.png');
}

.u47_normal {
    background-image: url('../Edit_2_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:1080px;
    top:79px;
    width:93px;
    height:30px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:36px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:89px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Edit_2_files/Rectangle_u49_normal.png');
}

.u49_container {
    position:absolute;
    left:870px;
    top:79px;
    width:200px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:7px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:875px;
    top:82px;
    width:190px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u52 {
    position:absolute;
    left:725px;
    top:84px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:725px;
    top:66px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:582px;
    top:84px;
    width:117px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:582px;
    top:66px;
    width:107px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

